html, body{
    background-color: var(--color-lightblue-1);
    /* background-color: var(--color-darkblue-1); */
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    min-height: 100%;
}

.hidden{
    display: none !important;
}


.main {
    margin-left: var(--navbar-width);
    width: calc(100% - var(--navbar-width));
    height: 100%;
    z-index: -1;
    transition: all 0.5s;
    /* --stripe: var(--color-darkblue-1-2);
    --bg: var(--color-darkblue-1); */

    background: linear-gradient(135deg, var(--bg) 25%, transparent 25%) -50px 0,
      linear-gradient(225deg, var(--bg) 25%, transparent 25%) -50px 0,
      linear-gradient(315deg, var(--bg) 25%, transparent 25%),
      linear-gradient(45deg, var(--bg) 25%, transparent 25%);
    /* background-size: 100px 100px; */
    background-color: var(--stripe);
}

.head{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;

}

.about-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
/* .title-image{
    width:35rem;
    height:35rem;
    filter: drop-shadow(0px 0px 1rem rgba(var(--color-lightblue-1-rgb),0.5));
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
} */

.title{
    font-size: 6rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    /* margin-top: 10rem; */
    /* margin-top: 5rem; */
    letter-spacing: 0.3rem;
    
    background-image: var(--color-darkblue-1);
    /* background-image: linear-gradient(to right, var(--color-blue-1), var(--color-lightblue-2)); */
    background-size: 100%;
    background-repeat: repeat;
    transition: all 0.5s;

    -webkit-text-stroke-width: 0.005rem;
    -webkit-text-stroke-color: rgba(var(--color-blue-1-rgb),0.5);
    /* -webkit-text-stroke-color: rgba(var(--color-blue-1-rgb),0.5); */

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -o-background-clip: text;
    -o-text-fill-color: transparent;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

}
.title:hover{
    transform: scale(1.1) translateY(-1rem);
}

.middle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input-container{
    width: 95%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5rem;

}
.search-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 3rem;
    background-color: whitesmoke;
    box-shadow: 0rem 0rem 1rem 0.3rem rgba(var(--color-lightblue-1-rgb),0.5);
    /* background-color: var(--color-greyblue-2); */
    /* background-color: var(--color-greyblue-2); */
    border-radius: 0.5rem;
    transition: all 0.5s;
}


.search-input:focus {
    outline: none;
    background-color: whitesmoke;
    box-shadow: 0rem 0rem 1rem 0.3rem rgba(var(--color-lightblue-1-rgb),0.5);
}
.search-input:focus::placeholder{
    color: var(--color-blue-1);
}
.search-input{
    width: 100%;
    height: 100%;
    border: none;
    padding-left:2rem;
    border-radius: 0.5rem;
    background-color: transparent;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: var(--color-darkblue-1);
    /* color: var(--color-lightblue-1); */
    transition: all 0.5s;
    outline: none;
}
.search-btn {
	/* font-family: 'Montserrat', sans-serif;
    width: min(17%, 7rem);
	color: var(--color-lightblue-3);
	font-size: 80%;
	border-radius: 0.5rem;
	border: 1px var(--color-blue-2) solid;
    background-color: var(--color-blue-1);
	text-shadow: -1px 0.5px 0px var(--color-darkblue-1-2);
	box-shadow: -0.5px 1px 1px 0px var(--color-lightblue-1);
	cursor: pointer;
	display: inline-flex;
	align-items: center;
    transition: all 0.3s; */
    display: inline-flex;
    align-items: center;
    transition: all 0.3s; 
    width: min(17%, 7rem);
  /* margin-top: 1rem; */
  padding: 0.7rem 0.7rem;
  font-size: 100%;
  border: 0.1rem solid #0eb582;
  background: #f0fdfa;
  color: #0eb582;
  cursor: pointer;
  text-transform: capitalize;
    
}

.search-btn:hover {
    background-color: var(--color-darkblue-1);
    text-shadow: -1px 0.5px 0px var(--color-blue-1);
	box-shadow: -1px 3px 3px 0px var(--color-lightblue-2);
    transform: translateY(-0.2rem);
   
    color: #fff;
}
.search-btn:active {
    background-color: var(--color-blue-1);
    text-shadow: -1px 0.5px 0px var(--color-blue-1);
    box-shadow: -0.5px 1px 1px 0px var(--color-lightblue-1);
    transform: translateY(0.2rem);
}
.search-btn-icon {
	padding: 0.3rem 0.3rem;
	border-right: 1px solid rgba(221, 221, 221, 0.16);
	box-shadow: rgba(0, 0, 0, 0.14) -1px 0px 0px inset;
}
.search-btn-icon svg {
	vertical-align: middle;
	position: relative;
	font-size: 1rem;
    top:-0.1rem
}
.search-btn-text {
    padding: 2% 2% 2% 2%;

}

.response{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem;
    border: 1px solid var(--color-darkblue-1);
    border-radius: 1rem;
    background-color: var(--color-lightblue-1);
    /* background-color: var(--color-darkblue-3); */
    box-shadow: 0rem 0rem 2rem 0rem rgba(var(--color-lightblue-2-rgb),0.2);
    transition: all 0.5s;
    
    animation: fadeIn 1s, growUp 0.5s;
    animation-fill-mode: forwards;

}



.response-title{
    width: 100%;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    /* color: var(--color-lightblue-3); */
    color: var(--color-darkblue-1);
    text-align: center;
    margin: 1rem 0 1rem 0;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
    animation: fadeIn 2s, growUp 1s;
    animation-fill-mode: forwards;
    
}
.response-body{
    width: 90%;
    font-size: 1rem;
    margin-bottom: 1rem;
    font-family: 'Montserrat', sans-serif;
    color: black;
    /* color: var(--color-lightblue-3); */
    text-align: left;
    animation: fadeIn 2s, growUp 1s;
    
}

.space-box{
    width: 100%;
    height: 2rem;
}




@media screen and (min-width : 1500px) {

    .title-image{
        width:50rem;
        height:50rem;
    }
    .title{   
        margin-top: 10rem;
        font-size: 8rem;
    }

}
@media screen and (max-width: 1080px) {

    .title-image{
        width:20rem;
        height:20rem;
    }
    .title{   
        margin-top: 5rem;
        font-size: 6rem;
    }

}
@media screen and (max-width: 800px) {
    .head{
        flex-direction: column;
    }
    .title{
        font-size: 5rem;
    }
    .head{
        align-items: center;
    }

}
@media screen and (max-width: 600px) {
    .input-container{
        flex-direction: column;
    }
    .search-btn{
        margin-top: 1rem;
        width: 20%;
    }
    .response{
        box-shadow: 0rem 0rem 1.5rem 0.1rem rgba(var(--color-lightblue-2-rgb),0.25);
    }

}
@media screen and (max-width: 500px) {
    .search-btn{
        margin-top: 1.5rem;
        width: 25%;
    }
    .response{
        width: 80%;
    }
    .response-title{
        font-size: 1.5rem;
    }
    .response-body{
        font-size: 0.8rem;
    }
    .title{
        font-size: 4rem;
    }

}
@media screen and (max-width: 400px) {
    .title-image{
        width: 15rem;
        height: 15rem;
    }
    .title{
        margin-top: 2rem;
        font-size: 2.5rem;
    }
    .search-btn{
        margin-top: 2rem;
        width: 35%;
    }
    .response{
        width: 75%;
    }
    .response-title{
        font-size: 1.2rem;
    }

}

@media screen and (max-width: 300px) {
    .title-image{
        width: 10rem;
        height: 10rem;
    }
    .title{
        margin-top: 1rem;
        font-size: 2rem;
    }
    .search-btn{
        margin-top: 1rem;
        width: 40%;
    }
    .search-input{
        padding-left: 1rem;
        font-size: 0.8rem;
    }
    .response{
        width: 70%;
    }
    .response-title{
        font-size: 1rem;
    }
    .response-body{
        font-size: 0.6rem;
    }
    .main{
        height: 100vh;
    }
   
}


@keyframes growUp {
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}
@-moz-keyframes growUp {
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}
@-webkit-keyframes growUp {
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}
@-o-keyframes growUp {
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}
@keyframes fadeIn {
    from {

        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes fadeIn{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-o-keyframes fadeIn{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}